<!--merchandise section starts-->
<section class="merchandise" id="merchandise">
    <h3 class="sub-heading">Our merchandise</h3>
    <h1 class="heading">Popular merchandise</h1>

    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"> <img src="" alt=""></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="">
            <h3>Pro name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>400 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="">
            <h3>Pro name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>1200 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="">
            <h3>Pro name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>1200 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="">
            <h3>prod name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>1200 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="GarlicBread">
            <h3>Pro name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>1200 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-eye"></a>
            <img src="../../../assets/images/prod.webp" alt="pasta">
            <h3>Pro name</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <span>1200 Rs</span>
            <a href="#" class="btn" data-id="1" data-price="19.32">Add to Cart</a>
        </div>

    </div>

</section>
<!--merchandise section ends-->