<app-header></app-header>
<!--home section starts-->
<section class="store" id="home">
    <swiper-container class="main" pagination="true" pagination-clickable="true" margin="100px">
        <swiper-slide>
            <div class="swiper-slide">
                <div class="content">
                    <span>Our Special Dish</span>
                    <h3>Spaghetti</h3>
                    <p>Spaghetti: a beloved Italian pasta dish, versatile and universally enjoyed, bringing people
                        together with its comforting simplicity.</p>
                    <a href="#" class="btn">Order Now</a>
                </div>
                <div class="image">
                    <img src="../../assets/images/Spaghetti.jpg" alt="Spaghetti">
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="swiper-slide ">
                <div class="content">
                    <span>Our Special Dish</span>
                    <h3>Croissants</h3>
                    <p>Croissant, a flaky and buttery pastry hailing from France, delights taste buds with its golden,
                        crescent-shaped allure, making it a breakfast favorite enjoyed worldwide.</p>
                    <a href="#" class="btn">Order Now</a>
                </div>
                <div class="image">
                    <img src="../../assets/images/Croissant.png" alt="Croissant">
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="swiper-slide ">
                <div class="content">
                    <span>Our Special Dish</span>
                    <h3>Hot Pizza</h3>
                    <p>Hot pizza, with its mouthwatering combination of gooey cheese, savory toppings, and crispy crust,
                        satisfies cravings and brings people together with every delicious bite.</p>
                    <a href="#" class="btn">Order Now</a>
                </div>
                <div class="image">
                    <img src="../../assets/images/pizza.jpg" alt="pizza">
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</section>

<div class="router-outlet">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>